<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/weather.log</file>
        <encoder><pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] %msg%n</pattern></encoder>
    </appender>
    <root level="info">
        <appender-ref ref="FILE" />
    </root>
</configuration>